<div class="container-chat">
  <div class="sidebar-before"></div>
  <div class="converse" angular2-auto-scroll observe-attributes> 
    <div *ngFor="let message of messages">
      <div [ngClass]="{'user-message talk-bubble tri-right round right-in': message.from === chatMessageFrom.CHAT_MESSAGE_FROM_USER, 'bot-message': message.from != chatMessageFrom.CHAT_MESSAGE_FROM_USER}">
        <div *ngIf="message.from != chatMessageFrom.CHAT_MESSAGE_FROM_USER" class="sender-bot">Tahiti experience :</div>
        <div *ngIf="message.from === chatMessageFrom.CHAT_MESSAGE_FROM_USER" class="sender-user">You :</div>
        <div class="message">
          {{message.message}}
        </div>
      </div>
    </div>
  </div>
  <div class="container-ask row">
    <textarea class="col-xs-12 col-md-10 transparent-input"  #userQuestion name="ask" placeholder="Ask your question here..." (keyup.enter)="addMessage(userQuestion.value, chatMessageFrom.CHAT_MESSAGE_FROM_USER);userQuestion.value =''"></textarea>
    <button class="col-xs-12 col-md-2"   type="button" class="btn btn-primary" (click)="addMessage(userQuestion.value, chatMessageFrom.CHAT_MESSAGE_FROM_USER);userQuestion.value =''">Ask</button>
  </div>
</div>
