<div class="relative no-gutter-left ">
  <div *ngIf="type == 'fly'" class="bg-flower">
    <h1>Air Tahiti Nui</h1>
    <div width="100%" class="video-full-size">
      <video loop autoplay>
        <source src="/assets/videos/fly2.mp4" type="video/mp4">
      </video>
    </div>

    <p>Our fresh and dynamic crew make our passengers feel like they are already in Tahiti as soon as they step on board. The
      smile and generosity of our teams, the elegant and refined design of the cabins, the sound of ukulele, and the fragrance
      of the Tiare flower that is offered with our traditional «Maeva», the Tahitian word for welcome, are some of the tokens
      of friendliness that we extend. They demonstrate the human and uniquely Tahitian part of our character.</p>
  </div>
  <div *ngIf="type == 'activities'"  class="bg-flower">
    <h1>Activities</h1> 
    <div width="100%" class="video-full-size">
      <video loop autoplay>
        <source src="/assets/videos/activities.mp4" type="video/mp4">
      </video>
    </div>
    <p>Our fresh and dynamic crew make our passengers feel like they are already in Tahiti as soon as they step on board. The
      smile and generosity of our teams, the elegant and refined design of the cabins, the sound of ukulele, and the fragrance
      of the Tiare flower that is offered with our traditional «Maeva», the Tahitian word for welcome, are some of the tokens
      of friendliness that we extend. They demonstrate the human and uniquely Tahitian part of our character.</p>

  </div>

</div>
